@model BugTracker.Models.TicketComments


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TicketComments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            @Html.HiddenFor(model => model.TicketId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Created)
            <input type="submit" value="Save" class="btn btn-outline-primary" />
          </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List",new { id= ViewBag.TicketId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
