@model BugTracker.Models.ViewModel.TicketEditFormViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
  <div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProjectId, Model.Projects, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.TicketTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.TicketTypeId, Model.TicketTypes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.TicketPrioritiesId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.TicketPrioritiesId, Model.TicketPriorities, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TicketPrioritiesId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Update" class="btn btn-success" />
      </div>
    </div>
  </div>
}

<div>
  @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
  {
    @Html.ActionLink("Back to List", "ListForAdminOrProjectManager")
  }
  else
  {
    @Html.ActionLink("Back to List", "ListForSubmitterOrDeveloper")
  }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
