@model IEnumerable<BugTracker.Models.Ticket>
@{
  ViewBag.Title = "List";
}

<h2>List of all tickets</h2>

<table class="table table-light table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Created by
      </th>
      <th>
        Project Name
      </th>
      <th>
        Priority
      </th>
      <th>
        Status
      </th>
      <th>
        Type
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Created)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.OwnersUser.Email)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TicketPriorities.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TicketStatus.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Created, "{0:d MMM yyyy}")
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
          @Html.ActionLink("Details", "Details", new { id = item.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
          @Html.ActionLink("UpdateStatus", "UpdateStatus", new { id = item.Id }) |
          @Html.ActionLink("AssignUsers", "AssignUsers", new { id = item.Id })
        </td>
      </tr>
    }
  </tbody>
</table>
@section scripts{
  <script>
    $(document).ready(function () {
      $(".table").DataTable();
    })
  </script>
}